<!DOCTYPE html>
<html>
<head>  
     <title>Help</title>
     <link rel="icon" href="/img/weather.png">
     <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
        <form id="helpForm">
            <input type="text" placeholder="message"/>
            <button>Send</button>
        </form>
    </div>

    {{>footer}}
</body>
</html>